@import "var/colors";
@import "var/media";
@import "var/mat-shadows";

ul.index-post-list {
  list-style-type: none;

  @include for-phone-only {
    padding: 0;
  }

  li {
    @include shadow-1;
    margin: 1rem;
    padding: 2rem 1rem;

    @include for-phone-only {
      padding-bottom: 1rem;
    }

    @include for-lg-desktop-up {
      max-width: 50%;
      margin: 1rem auto;
    }
  }

  a {
    display: block;
    color: $mediumBlue;
    text-decoration: none;
  }

  h2.post-list-title {
    @include for-phone-only {
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }
    @include for-tablet-landscape-up {
      padding-left: 2rem;
    }
  }

  .post-list-body {
    @include for-tablet-landscape-up {
      padding: 0 2rem;
    }
  }

  p {
    padding: 0 2rem;
    @include for-phone-only {
      font-size: 0.8rem;
    }
    @include for-tablet-landscape-up {
      padding: 0 9rem 0 1rem;
    }
  }

  p.date {
    padding-left: 2rem;
    @include for-phone-only {
      text-align: center;
    }
  }

  p.excerpt {
    line-height: 1.8rem;
  }

  p.post-read-more {
    text-align: right;
    font-size: 0.8rem;
  }
}

