@import "var/colors";
@import "var/media";
@import "var/mat-shadows";

ul.index-post-list {
  list-style-type: none;

  li {
    @include shadow-1;
    margin: 1rem;
    padding: 2rem 1rem;
  }

  a {
    display: inline-block;
    color: $mediumBlue;
    text-decoration: none;
  }

  p {
    padding: 0 9rem 0 1rem;
  }

  p.post-read-more {
    text-align: right;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: $mobileW) {
  .index-container {
    margin-top: 4.5rem;
  }

  ul.index-post-list {
    padding: 0;

    li {
      padding-bottom: 1rem;
    }

    p {
      padding: 0;
    }
  }
}
