@import "var/colors";
@import "var/mat-shadows";
@import "var/media";

.post {
  @include shadow-1;
  padding: 2rem 3rem 1rem 3rem;
  min-height: 100%;
  margin-bottom: 3rem;
}

h1.post-title {
  margin: 2rem 0 0 0;
  color: $darkerBlue;
}

.post-date {
  padding-left: 1rem;
  font-size: 0.75rem;
}

.post-content {
  margin: 2rem;
}

@media screen and (max-width: $mobileW ) {
  h1.post-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .post-date {
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }

  .post-content {
    margin: 2rem 0;
  }
}
