@import "var/colors";
@import "var/mat-shadows";
@import "var/media";

@mixin block-margins {
  display: block;
  margin: 4rem auto;
  @include shadow-1();
}

.post {
  @include shadow-1;
  //padding: 2rem 3rem 1rem 3rem;
  min-height: 100%;
  margin: 1rem 0;
  //width: 86%;
  width: 100%;

  @include for-phone-only {
    padding: 1rem;
  }
  @include for-tablet-portrait-up {
    padding: 2rem 3rem 1rem 1rem;
  }
  @include for-tablet-landscape-up {
    padding: 2rem 3rem 1rem 3rem;
  }

  @include for-lg-desktop-up {
    max-width: 50%;
    margin: 1rem auto;
  }
}

h1.post-title {
  margin: 2rem 0 0 0;
  color: $darkerBlue;

  @include for-phone-only {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

h3.post-subheading {
  margin: 0.9rem;
  font-size: 1.2rem;
  text-align: left;
  color: $darkGray;

  @include for-phone-only {
    margin: 0 0 2rem 0;
    font-size: 1rem;
  }
}

.post-date {
  padding-left: 1rem;
  font-size: 0.75rem;

  @include for-phone-only {
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }
}

.post-content {
  margin: 2rem;
  h2, h3, h4, h5 {
    margin: 4rem 0 2rem 0;
    font-family: "Raleway", sans-serif;
  }
  p, ul, li {
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
  a {
    color: blue;
    text-decoration: underline;
  }

  @include for-phone-only {
    margin: 2rem 0;
    h2 {
      font-size: 1.5rem;
    }
  }

  h6 {
    margin: 0 2rem 2rem 0;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    text-align: right;
    a {
      color: $mediumBlue;
      font-weight: 800;
    }

    @include for-phone-only {
      font-size: 0.7rem;
      margin-right: 1rem;
    }
  }
}


img.post-splash {
  @include block-margins();
  max-width: 90%;
}

img.post-image {
  @include block-margins();
  max-width: 100%;
}
.gist {
  margin-bottom: 2rem;
  //border: 1px solid red;
}

div.highlight {
  @include block-margins();
}

p.smaller-text {
  font-size: 0.8rem;
  font-style: italic;
  line-height: 0.95rem;
}

