@import "var/colors";
@import "var/mat-shadows";
@import "var/media";

@mixin block-margins {
  display: block;
  margin: 4rem auto;
  @include shadow-1();
}

.post {
  @include shadow-1;
  padding: 2rem 3rem 1rem 3rem;
  min-height: 100%;
  margin-bottom: 3rem;
  width: 86%;
}

h1.post-title {
  margin: 2rem 0 0 0;
  color: $darkerBlue;

  @include for-phone-only {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.post-date {
  padding-left: 1rem;
  font-size: 0.75rem;

  @include for-phone-only {
    text-align: center;
    font-size: 1rem;
    padding: 0;
  }
}

.post-content {
  margin: 2rem;
  h2, h3, h4, h5, h6 {
    margin: 4rem 0 2rem 0;
    font-family: "Raleway", sans-serif;
  }

  @include for-phone-only {
    margin: 2rem 0;
  }
}


img.post-splash {
  @include block-margins();
  max-width: 90%;
}

img.post-image {
  @include block-margins();
  max-width: 80%;
}

div.highlight {
  @include block-margins();
}

