// monokai for anything created with <pre><code> tags
@import "ext/monokai";

// darkmode for github gists
@import "ext/github-dark";

// remove github gist tags
body .gist .gist-meta {
  display: none;
}

.gist {
  display: inline-block !important;
  width: 100% !important;
}
